<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bank.system.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.bank.system.model.User" >
    <id column="identity_card_id" property="identityCardId" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    identity_card_id, username, address, telephone
  </sql>
  <select id="selectByIdCard" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where identity_card_id = #{identityCardId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByByIdCard" parameterType="java.lang.String" >
    delete from user
    where identity_card_id = #{identityCardId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bank.system.model.User" >
    insert into user (identity_card_id, username, address, 
      telephone)
    values (#{identityCardId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bank.system.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="identityCardId != null" >
        identity_card_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="identityCardId != null" >
        #{identityCardId,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bank.system.model.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
    </set>
    where identity_card_id = #{identityCardId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bank.system.model.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR}
    where identity_card_id = #{identityCardId,jdbcType=VARCHAR}
  </update>
</mapper>